@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*
{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    
}



.container{
    
    background-color: hsl(185, 75%, 39%);
    font-family: "Kumbh Sans", sans-serif;
    min-width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    flex-wrap: nowrap;
    overflow: hidden;
    
}    

.card
{
    border: solid 1px black;
    border-radius: 20px;
    width: 328px;
    height: 375px;
    background-color: white;
    overflow: hidden;
    
    
}

.card img
{
    justify-content: center;
}

.card .minifooter
{
    text-align: center;
    border-top: solid 1px gray;
}

.card .minifooter ul
{
    list-style-type: none;
    display: inline-block;
}

.card .minifooter li
{
    
}